header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d5467;
  height: 5vh;
}

body {
  margin: 0px 0px;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  display: flex;
  height: 95vh;
  align-items: stretch;
}

.leftDiv {
  flex: 1;
  background-color: #8aa29e;
}

.middleDiv {
  display: flex;
  flex: 3;
  background-color: #F1EDEE;
}

.textBigHeight {
  margin-top: 8px;
  resize: none;
}
